html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #191919;
    /* Page background */
    color: white;
    /* All text is white */
    font-family: monospace;
    text-align: center;
}

.box {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    min-width: 80px;
    height: 60px;
    border: 3px solid white;
    /* White outline */
    background-color: #191919;
    /* Box background */
    color: white;
    /* White text */
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
    gap: 10px;
    /* Add spacing between boxes */
    margin: 20px 0;
}

h3 {
    text-align: center;
    color: white;
    /* Make the "Time Left" text white */
    margin-top: 20px;
}

.small {
    font-size: 15px;
    font-weight: lighter;
}